<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <title>hot</title>
</head>
<body>
<div style="height: 100%">

    <marquee onMouseOut="this.start()" onMouseOver="this.stop()" height="600" behavior="scroll"
             direction="up" scrollamount="5">
        {% for i in hotop %}
            <p><a href="{{ i.1 }}" target="_blank">{{ i.0 }}</a></p>
            <br/>
        {% endfor %}
    </marquee>
</div>

</body>
</html>
