<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板2</title>
    {#    <link rel="icon" href="../static/img/logo.png">#}
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/fonts/icomoon.css">
    <script type="text/javascript">
        var dataClass = {
            data: {{ special|safe }}
        }
        var pos_name = {
            data: {{ pos_name|safe }}
        }
        var pos_num = {
            data: {{ pos_num|safe }}
        }
        var cataClass = {
            data: {{ cata|safe }}
        }
        var xClass = {
            data: {{ x|safe }}
        }
        var chartClass = {
            data: {{ linear|safe }}
        }
    </script>
</head>

<body>
<div class="viewport">
    <div class="column">
        <!--概览-->
        <div class="overview panel">
            <div class="inner">
                <div class="item">
                    <h4>{{ k }}</h4>
                    <span>
                            <i class="icon-dot" style="color: #006cff"></i>
                            当前地区
                        </span>
                </div>
                <div class="item">
                    <h4>{{ catanum|safe }}</h4>
                    <span>
                            <i class="icon-dot" style="color: #6acca3"></i>
                            种类数目
                        </span>
                </div>
                <div class="item">
                    <h4>{{ cata.0.name|safe }}</h4>
                    <span>
                            <i class="icon-dot" style="color: #6acca3"></i>
                            最热种类
                        </span>
                </div>
            </div>
        </div>
        <!--监控-->
        <div class="monitor panel">
            <div class="inner">
                <div class="tabs">
                    <a href="javascript:;" data-index="0" class="active">消费概览</a>
                    <a href="javascript:;" data-index="1">特色菜</a>
                </div>
                <div class="content" style="display: block;">
                    <div class="head">
                        <span class="col" style="width: 50%">店铺名称</span>
                        <span class="col">人均消费</span>
                        <span class="col">用户评分</span>
                    </div>
                    <div class="marquee-view">
                        <div class="marquee" style="animation: row  {{ len }}s infinite;">
                            {% for i in hotop %}
                                <div class="row">
                                    <span class="col" style="width: 50%;"><a style="color: #0bace6" href="{{ i.1 }}"
                                                                             target="_blank">{{ i.0 }}</a></span>
                                    <span class="col">{{ i.3 }}</span>
                                    <span class="col">{{ i.4 }}</span>
                                    <span class="icon-dot"></span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="head">
                        <span class="col" style="width: 40%">店铺名称</span>
                        <span class="col">特色菜</span>
                    </div>
                    <div class="marquee-view">
                        <div class="marquee" style="animation: row  {{ len }}s infinite;">
                            {% for i in hotop %}
                                <div class="row">
                                    <span class="col" style="width: 40%;"><a style="color: #0bace6" href="{{ i.1 }}"
                                                                             target="_blank">{{ i.0 }}</a></span>
                                    <span class="col">{{ i.5 }}</span>
                                    <span class="icon-dot"></span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--点位-->
        <div class="point panel">
            <div class="inner">
                <h3>类别分布统计</h3>
                <div class="chart">
                    <div class="pie"></div>
                    <div class="data">
                        <div class="item">
                            <h4>{{ catanum|safe }}</h4>
                            <span>
                                    <i class="icon-dot" style="color: #ed3f35"></i>
                                种类总数
                                </span>
                        </div>
                        <div class="item">
                            {% block base %}
                                <h4>{{ 10|get_min:catanum }}</h4>
                            {% endblock %}

                            <span>
                                    <i class="icon-dot" style="color: #eacf19"></i>
                                    目前显示
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <!-- 地图 -->
        <div class="map">
            <h3>
                <span class="icon-cube"></span>
                当前位置
            </h3>
            <div class="chart">
                <iframe id="ifr" src="../now_pos" height="100%" width="99%" style="border: 0"></iframe>
            </div>
            {#                <div class="chart">#}
            {#                    <div class="geo"></div>#}
            {#                </div>#}
        </div>
        <!-- 用户 -->
        <div class="users panel">
            <div class="inner">
                <h3>地区分布统计</h3>
                <div class="chart">
                    <div class="bar"></div>
                    <div class="data">
                        <div class="item">
                            <h4>{{ posnum }}</h4>
                            <span>
                                    <i class="icon-dot" style="color: #ed3f35"></i>
                                    地区总数
                                </span>
                        </div>
                        <div class="item">
                            <h4>{{ 10|get_min:posnum }}</h4>
                            <span>
                                    <i class="icon-dot" style="color: #eacf19"></i>
                                    目前显示
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <!-- 订单 -->
        <div class="order panel">
            <div class="inner">
                <!-- 筛选 -->
                <div class="filter">
                    <a href="javascript:;" data-key="day365" class="active">第一名</a>
                    <a href="javascript:;" data-key="day90">第二名</a>
                    <a href="javascript:;" data-key="day30">第三名</a>
                    <a href="javascript:;" data-key="day1">第四名</a>
                </div>
                <!-- 数据 -->
                <div class="data">
                    <div class="item">
                        <h4>{{ cata.0.name }}</h4>
                        <span>
                                <i class="icon-dot" style="color: #ed3f35;"></i>
                                类别名称
                            </span>
                    </div>
                    <div class="item">
                        <h4>{{ cata.0.value }}</h4>
                        <span>
                                <i class="icon-dot" style="color: #eacf19;"></i>
                                店铺数量
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 销售额 -->
        <div class="sales panel" style="height: 50%">
            <div class="inner">
                <div class="caption">
                    <h3>销售额统计</h3>
                    <a href="javascript:;" class="active" data-type="year">part1</a>
                    <a href="javascript:;" data-type="quarter">part2</a>
                    <a href="javascript:;" data-type="month">part3</a>
                    <a href="javascript:;" data-type="week">part4</a>
                </div>
                <div class="chart">
                    <div class="label">单位:条</div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <!-- 渠道 季度 -->
        <div class="wrap"  style="display: none">
            <div class="quarter panel">
                <div class="inner">
                    <h3>团购活动</h3>
                    <div class="chart">
                        <div class="box">
                            <div class="gauge" style="display: none"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 排行榜 -->
        <div class="top panel">
            <div class="inner">
                <div class="all">
                    <h3>地区人均消费</h3>
                    <ul>
                        {% for i in money %}
                            <li>
                                <i class="icon-cup1" style="color: #d93f36;"></i>
                                {{ i|truncatechars:7 }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="province">
                    <h3>评论数 <i class="date">// 招牌菜 //</i></h3>
                    <div class="data">
                        <ul class="sup">
                            {% for i in review %}
                                <li>
                                    <span class="name">{{ i.0|truncatechars:5 }}</span>
                                    <span>{{ i.1 }} <s class="icon-up"></s></span>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="sub">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{#<script src="{% static "js/jquery.min.js" %}"></script>#}
<script src="../static/js/echarts/echarts.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/echarts/china.js"></script>
<script src="../static/js/mymap.js"></script>

</html>