<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/read_write.js"></script>
    <link rel="stylesheet" href="../static/css/left.css">
    <script>

        change_html = function (source) {
            document.cookie = "name=" + source + ";Path=" + escape("/");
            document.getElementById('ifm').setAttribute('src', '/index');
        }
        change_hot = function () {
            document.getElementById('ifm').setAttribute('src', '/hot');
        }
    </script>
</head>

<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-container>
            <el-aside width="250px" style="height: 100%;background-color: rgb(238, 241, 246)">
                <el-menu>
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-menu"></i>全国信息</template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1" onclick="change_hot()">热力图</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-menu"></i>热点城市</template>
                        <el-menu-item-group>
                            {% for i in hot_city %}
                            <el-menu-item index="3-1" onclick="change_html('{{ i }}')">{{ i }}</el-menu-item>
                            {% endfor %}
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-menu"></i>所有城市</template>
                        {% for r in ks %}
                            <el-submenu index="{{ r }}">
                                <template slot="title">{{ r|upper }}</template>
                                {% block base %}
                                    {% for k in first_pinyin|get_item:r %}
                                        <el-menu-item-group>
                                            <el-menu-item index="1-1"
                                                          onclick="change_html('{{ k }}')">{{ k }}</el-menu-item>
                                        </el-menu-item-group>
                                    {% endfor %}
                                {% endblock %}
                            </el-submenu>
                        {% endfor %}
                    </el-submenu>

                    <el-submenu index="4">
                        <template slot="title"><i class="el-icon-menu"></i>数据管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1">管理员登录</el-menu-item>
                            <el-menu-item index="4-2" onclick="document.getElementById('ifm').setAttribute('src', '/register');">普通用户登录</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="5">
                        <template slot="title"><i class="el-icon-menu"></i>用户注册</template>
                        <el-menu-item-group>
                            <el-menu-item index="5-1">申请管理员</el-menu-item>
                            <el-menu-item index="5-2" onclick="document.getElementById('ifm').setAttribute('src', '/register');">申请成为普通用户</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>

            <el-container>

                <el-main>
                    <iframe id="ifm" width="90%" height="100%" scrolling="no" frameborder="0"
                            style="position: fixed" src="/hot"></iframe>
                </el-main>
            </el-container>
        </el-container>
    </el-container>

</div>


<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">

<script src="../static/js/axios-0.18.0.js"></script>


<script>
    new Vue({
        el: "#app",

        mounted() {
            this.selectAll();
        },
        methods: {},
    })


</script>
</body>
</html>