<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/read_write.js"></script>
    <link rel="stylesheet" href="../static/css/left.css">
    <script>

        change_html = function (source) {
            // 设置cookie
            document.cookie = "name=" + source + ";Path=" + escape("/");
            document.getElementById('ifm').setAttribute('src', '/index');
        }
    </script>
</head>

<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-container>
            <el-aside width="250px" style="height: 100%;background-color: rgb(238, 241, 246)">
                <el-menu>
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-menu"></i>全国信息</template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1">信度分析</el-menu-item>
                            <el-menu-item index="2-2">多选分析</el-menu-item>
                            <el-menu-item index="2-3">交叉分析N</el-menu-item>
                            <el-menu-item index="2-4">对应分析</el-menu-item>
                            <el-menu-item index="2-5">区分度分析</el-menu-item>
                            <el-menu-item index="2-6">联合分析</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-menu"></i>发达城市</template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1">层次分析法</el-menu-item>
                            <el-menu-item index="3-2">因子分析（探索性）</el-menu-item>
                            <el-menu-item index="3-3">数据包络分析</el-menu-item>
                            <el-menu-item index="3-4">优劣距离法（TOPSIS）</el-menu-item>
                            <el-menu-item index="3-5">秩和比综合评价法（RSR）</el-menu-item>
                            <el-menu-item index="3-6">耦合协调度</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-menu"></i>所有城市</template>
                        {% for r in ks %}
                            <el-submenu index="{{ r }}">
                                <template slot="title">{{ r|upper }}</template>
                                <!--   引入k变量对应的键值对-->
                                {% block base %}
                                    {% for k in first_pinyin|get_item:r %}
                                        <el-menu-item-group>
                                            <el-menu-item index="1-1"
                                                          onclick="change_html('{{ k }}')">{{ k }}</el-menu-item>
                                        </el-menu-item-group>
                                    {% endfor %}
                                {% endblock %}
                            </el-submenu>
                        {% endfor %}
                    </el-submenu>

                    <el-submenu index="4">
                        <template slot="title"><i class="el-icon-menu"></i>参数检验</template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1">单样本T检验</el-menu-item>
                            <el-menu-item index="4-2">配对样本T检验</el-menu-item>
                            <el-menu-item index="4-3">独立样本T检验</el-menu-item>
                            <el-menu-item index="4-4">单因素方差分析</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="5">
                        <template slot="title"><i class="el-icon-menu"></i>非参数检验</template>
                        <el-menu-item-group>
                            <el-menu-item index="5-1">卡方检验</el-menu-item>
                            <el-menu-item index="5-2">单样本Wilcoxon符号秩检验</el-menu-item>
                            <el-menu-item index="5-3">配对样本Wilcoxon符号秩检验</el-menu-item>
                            <el-menu-item index="5-4">独立样本MannWhitney检验</el-menu-item>
                            <el-menu-item index="5-5">多配对样本Friedman检验</el-menu-item>
                            <el-menu-item index="5-6">多独立样本Kruskal-Wallis检验</el-menu-item>
                            <el-menu-item index="5-7">卡方拟合优度检验</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="6">
                        <template slot="title"><i class="el-icon-menu"></i>相关性分析</template>
                        <el-menu-item-group>
                            <el-menu-item index="6-1">Cochran's Q 检验</el-menu-item>
                            <el-menu-item index="6-2">Kappa一致性检验</el-menu-item>
                            <el-menu-item index="6-3">Kendall协调系数</el-menu-item>
                            <el-menu-item index="6-4">组内相关系数</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="7">
                        <template slot="title"><i class="el-icon-menu"></i>预测模型</template>
                        <el-menu-item-group>
                            <el-menu-item index="7-1">时间序列分析（ARIMA）</el-menu-item>
                            <el-menu-item index="7-2">线性回归（最小二乘法）</el-menu-item>
                            <el-menu-item index="7-3">岭回归（Ridge）</el-menu-item>
                            <el-menu-item index="7-4">聚类分析（K-Means）</el-menu-item>
                            <el-menu-item index="7-5">逻辑回归</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="8">
                        <template slot="title"><i class="el-icon-menu"></i>统计建模</template>
                        <el-menu-item-group>
                            <el-menu-item index="8-1">泊松分布检验</el-menu-item>
                            <el-menu-item index="8-2">游程检验</el-menu-item>
                            <el-menu-item index="8-3">单位根检验（ADF）</el-menu-item>
                            <el-menu-item index="8-4">差分分析</el-menu-item>
                            <el-menu-item index="8-5">偏/自相关分析（pacf/acf）</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="9">
                        <template slot="title"><i class="el-icon-menu"></i>自然语言处理</template>
                        <el-menu-item-group>
                            <el-menu-item index="9-1">词法分析</el-menu-item>
                            <el-menu-item index="9-2" onclick="cxlbs()">词向量表示</el-menu-item>
                            <el-menu-item index="9-3" onclick="cyxsd()">词义相似度</el-menu-item>
                            <el-menu-item index="9-4" onclick="plgdcq()">评论观点抽取</el-menu-item>
                            <el-menu-item index="9-5" onclick="qgqx()">情感倾向分析</el-menu-item>
                            <el-menu-item index="9-6">短文本相似度</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>

            <el-container>

                <el-main>
                    <iframe id="ifm" width="90%" height="86%" scrolling="no" frameborder="0"
                            style="position: fixed"></iframe>
                </el-main>
            </el-container>
        </el-container>
    </el-container>

</div>


<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">

<script src="../static/js/axios-0.18.0.js"></script>


<script>
    new Vue({
        el: "#app",

        mounted() {
            this.selectAll();
        },
        methods: {},
    })


</script>
</body>
</html>