<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</div>
<div style="position: fixed; height: 50%;width: 60%;margin-left: 20%;margin-top: 10%">
    <iframe id="ifr" src="../now_pos" height="100%" width="99%" style="border: 0"></iframe>
</div>
<div style="position: fixed; height: 50%;width: 20%;margin-left: 80%;margin-top: 10%">
    <iframe id="hotop" src="../hot" height="100%" width="100%" style="border: 0;" align="right"></iframe>
</div>
</body>
</html>